.app {
  display: flex;
  flex-direction: column;
  background-color: #151516
}

body {
  background-color: #151516;
  overflow-x: hidden;
}

.songlist {
  margin-bottom: 70px;
}

.icon {
  color: white;
  margin: 15px;
  font-size: 30px;
}

.button {
  background-color: transparent;
  border: none;
}

.button:active {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.player {
  position: fixed;
  height: 70px;
  margin: 10px 0px;
  bottom: -10px;
  background-color: #151516;
  border-top: white 1px solid;
  width: 100%;
  display: flex;
}

@media (max-width: 576px) {
  .volume {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    order: 2;
  }
  .controls {
    display: flex;
    width: 100%;
    order: 1;
    justify-content: center;
  }
  .range {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    order: 3
  }
  .player {
    height: 140px;
    flex-wrap: wrap;
    align-items: center;
  }
  .icon-volume{
    font-size: 20px;
    margin: 8px;
  }
  .songlist {
    margin-bottom: 140px;
  }
}

@media (min-width: 577px) {
  .volume {
    display: flex;
    justify-content: flex-end;
    width: 33.33333333%;
    order: 1;
  }
  .controls {
    display: flex;
    width: 33.33333333%;
    order: 2;
    justify-content: center;
  }
  .range {
    display: flex;
    justify-content: flex-start;
    width: 33.33333333%;
    order: 3
  }
  .player {
    height: 70px;
    flex-wrap: wrap;
    align-items: center;
  }
  .icon-volume{
    font-size: 20px;
    margin: 8px;
  }
}