.app {
  display: flex;
  flex-direction: column;
  background-color: #151516
}

body {
  background-color: #151516;
  overflow-x: hidden;
}

.icon {
  color: white;
  margin: 15px;
  font-size: 30px;
}

.player {
  position: fixed;
  height: 70px;
  margin: 10px;
  bottom: 0;
}

.button {
  background-color: transparent;
  border: none;
}

.button:active {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}